<plugin_info>
    <plugin_name>Run a Pywr model.</plugin_name>
    <plugin_dir>.</plugin_dir>
    <plugin_category>model</plugin_category>
    <plugin_command>PywrAuto.py</plugin_command>
    <plugin_shell>python</plugin_shell>
    <plugin_location>.</plugin_location>
    <plugin_description>
        Run a pywr model with a pywr-compatible hydra network. 
	</plugin_description>
	<smallicon>pywr_export_16.png</smallicon>
    <largeicon>pywr_export_32.png</largeicon>
    <plugin_epilog>For more information visit hydra platform website</plugin_epilog>
	<mandatory_args>
		<arg>
            <name>network-id</name>
            <switch>-t</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>network</argtype>
            <help>ID of the network to be exported</help>
        </arg>
		<arg>
            <name>scenario-id</name>
            <switch>-s</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>scenario</argtype>
            <help>ID of the scenario to be exported</help>
        </arg>
		<arg>
            <name>output</name>
            <switch>-o</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>directory</argtype>
            <help>Target folder for the Pywr network. Defaults to 'Downloads'</help>
        </arg>

    </mandatory_args>
   <non_mandatory_args>
		<arg>
            <name>template-id</name>
            <switch>-tp</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>template</argtype>
            <help>ID of the template to be used</help>
        </arg>
        <arg>
            <name>server-url</name>
            <switch>-u</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the URL of the server to which this
                        plug-in connects.</help>
        </arg>
        <arg>
            <name>session_id</name>
            <switch>-c</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the session ID for the connection. If not specified,
            the plugin will try to connect based on the credentials it finds in config</help>
        </arg>
    </non_mandatory_args>
    <switches>
    </switches>
 </plugin_info>
