<plugin_info>
    <plugin_name>Import from PyWR</plugin_name>
    <plugin_dir>.</plugin_dir>
    <plugin_category>import</plugin_category>
    <plugin_command>PywrImporter.py</plugin_command>
    <plugin_shell>python</plugin_shell>
    <plugin_location>.</plugin_location>
    <plugin_description>
        Import a PYWR json file into Hydra.
	</plugin_description>
	<smallicon>pywr_import_16.png</smallicon>
    <largeicon>pywr_import_32.png</largeicon>
    <plugin_epilog>For more information visit hydra platform website</plugin_epilog>
	<mandatory_args>
		<arg>
            <name>json_file</name>
            <switch>-f</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>file</argtype>
            <help>JSON file containing the Pywr network</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
        <arg>
            <name>project-id</name>
            <switch>-p</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>project</argtype>
            <help>ID of the project where network will be imported to.  If excluded, a new project will be created.</help>
        </arg>

        <arg>
            <name>server_url</name>
            <switch>-u</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the URL of the server to which this
                        plug-in connects.</help>
        </arg>
        <arg>
            <name>session_id</name>
            <switch>-c</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the session ID for the connection. If not specified,
            the plugin will try to connect based on the credentials it finds in config</help>
        </arg>
    </non_mandatory_args>
    <switches>
    </switches>
 </plugin_info>
